block content
	doctype html
	html(lang='en')
		head
			meta(charset='utf-8')
			title Sprintathon
			meta(name='viewport', content='width=device-width')
			meta(name='description', content='Sprintathon')
			meta(name='author', content='Sprintathon')
			meta(property='og:title', content='Sprintathon')
			meta(property='og:type', content='website')
			meta(property='og:url', content='http://sprintathon.org/')
			meta(property='og:description', content='The Sprintathon Showdown is here and Marlow may never be the same. Teams will battle, Lycra will be worn, and the Marathon World Record will fall. Back our team and help beat cancer faster, visit sprintathon.org')
			meta(property='og:image', content='http://sprintathon.org/img/sprintathon-share.png')
			link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700', rel='stylesheet')
			link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
			//- Customise the stylesheet for your site by editing /public/styles/site.sass
			link(href="/styles/site.css", rel="stylesheet")
			//- This file provides the default styling for the KeystoneJS Content Editor
			if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
				//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
				//- Safely remove this block if you are not targeting IE8
				//-[if lt IE 9]
					script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
					script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
				//-[endif]
		body
			#popup
				.popup-wrap
					.close-btn X
					video(controls='')
						source(src='../../video/Sprintathon-Marlo-Launch.mp4', type='video/mp4')
						|  Sorry, your browser does not support video playback.
			header#header
				.inner.clearfix
					span.mobile-menu
						span.line-1
						span.line-2
						span.line-3
					img.logo(src='/images/img/logo.png')
					.nav
						nav.nav-items
							a(href='#', data-panel='two') How to get involved
							a(href='#', data-panel='four') Beat cancer faster
							a(href='#', data-panel='five') Who It's For
							a(href='#', data-panel='six') FAQ
					.social
						a.twitter(onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;", href='https://twitter.com/share?text=Sprintathon Showdown is here and Marlow may never be the same. Records will fall, and cancer will be beaten faster.&url=http://www.sprintathon.org')
							i.icon-twitter
						a.facebook(onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;", href='https://www.facebook.com/sharer/sharer.php?u=http://sprintathon.org/')
							i.icon-facebook
			#main
				.hero
					.logo-wrap
						img.logo(src='/images/img/hero-logo.png')
					img.play-btn(src='/images/img/play-btn.png')
					img.arrow(src='/images/img/arrow-icon.png')
					img.sutc(src='/images/img/sutc-header.png')
				#one.intro
					.inner.clearfix
						.left-col.half
							h2
								| Forget everything you thought about quaint town life. The 
								span.white sprintathon showdown
								|  is here and marlow may never be the same. Pride will tumble, records will fall, and cancer will be 
								span.white beaten faster
								| .
						.right-col.half
							.stats
								.runners.item
									span.number.white 422
									span.title.yellow Runners
								.teams.item
									span.number.white 105
									span.title.yellow Teams
								.to-beat.item
									span.sign.white £
									span.number.white 25
									span.k.white k
									span.title.yellow To Beat
							p
								| Last year 422 runners smashed the world marathon record and raised £25,000 for Stand Up To Cancer.
							p
								| This year we’re taking it up a notch. On the 16th of September, 105 teams are each running 4X100m legs competing to be the fastest team in town and to smash the world marathon record. Register now and help us raise money for stand up to cancer.
				.details
					.inner.clearfix
						.where.item
							span.icon
								img(src='/images/img/location-icon.png')
							.info
								h3.yellow Where
								p
									| Wycombe District,
									br
									|  Athletics Complex,
									br
									|  Little Marlow, SL7 3RQ
						.when.item
							span.icon
								img(src='/images/img/time-icon.png')
							.info
								h3.yellow When
								p
									| 16th September 2017
									br
									|  2:00pm
						.how.item
							span.icon
								img(src='/images/img/stopwatch-icon.png')
							.info
								h3.yellow How
								p
									| 105 teams
									br
									|  422 runners
									br
									|  1 ultimate Showdown
				#two.get-involved
					.lines
						.line
						.line
						.line
						.line
					.inner.clearfix
						h3 How to get involved
						a.register.cta(href=' http://www.racesonline.uk/race-entry/sprintathon/index.php?id=1', target='_blank')
						a.login.cta(href='https://www.justgiving.com/', target='_blank')
						a.fundraising.cta(href='https://www.justgiving.com/fundraising-page/creation/?cid=247737&eid=4023572', target='_blank')
				.total-section
					.inner.clearfix
						.left-col
							h2
								span.large Not running
								br
								| but still want
								br
								| to kick cancer
								br
								span.xlarge in the face?
						.right-col
							img.stand-up-logo(src='/images/img/stand-up-logo.png')
							a.red-cta.cta(href='https://www.justgiving.com/fundraising/sprintathon2017', target='_blank') Donate here
						.total-raised
							span Total still to raise:
							span.amount
								span.currency £
								span.total 00,000k
					.flames.flames-left
					.flames.flames-right
				#three.the-rivals
					.inner.clearfix
						h2.white The Rivals
						.leaders
							.win.col
								h3#winningtext.text-overlay Winning
								.thumbnail-wrap
									img.thumbnail(src='')
								h3.namelabel
								h4
									| Raised so far: £
									span.team1total 0
								a.yellow-cta.cta(href='#') Donate Here
							.vs.col VS
							.lose.col
								.thumbnail-wrap
									h3#losingtext.text-overlay Losing
									img.thumbnail(src='')
								h3.namelabel
								h4
									| Raised so far: £
									span.team2total 0
								a.yellow-cta.cta(href='#') Donate Here
				#four.fundraising-pack
					.inner.clearfix
						h2.title.red Beat Cancer Faster
						.left-col.half
							p.first.red Prove you're the best and prepare to kick Cancer where it hurts! 
							p.red
								| Follow us for updates on
								br
								a.red.twitter(href='https://twitter.com/sprintathon', target='_blank')
									i.icon-twitter
								a.red.facebook(href='https://www.facebook.com/sprintathon', target='_blank')
									i.icon-facebook
							p.red Download your rival beating toolkit: 
							a.download-btn.red-cta.cta(href='downloads/Sprintathon_Toolkit.zip') Download
						.right-col.half
							img(src='/images/img/sprintathon-inline.jpg')
							p.red
								| Start fundraising now – Share this
								br
								a.red.twitter(onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;", href='https://twitter.com/share?text=Back our team and Help Beat Cancer Faster visit Sprintathon.org.&url=http://www.sprintathon.org')
									i.icon-twitter
								a.red.facebook(onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;", href='https://www.facebook.com/sharer/sharer.php?u=http://sprintathon.org/')
									i.icon-facebook
				.stand-up
					#five.inner.clearfix
						.top-panel
							h2.red Who it's for
							.left-col.half
								p.red
									| Stand Up To Cancer is a joint national fundraising campaign from Cancer Research UK and Channel 4 to accelerate ground breaking cancer research and save more lives.
								p.red
									| The money raised supports UK scientists working in cancer centres, NHS hospitals, universities and institutes, taking ground-breaking discoveries from the lab and turning them into new treatments and tests for cancer patients who need them right now. Visit standuptocancer.org.uk for more info.
							.right-col.half
								img.stand-up-logo(src='/images/img/stand-up-logo.png')
						.money
							.wrap
								h3 Where does the money go?
								.items
									.item
										img(src='/images/img/equipment-icon.png')
										h3 £50
										p Pays for equipment to find amazing new ways to knock cancer off its perch
									.item
										img(src='/images/img/pill-icon.png')
										h3 £180
										p
											| Covers the cost of a clinical trial for a day, enabling life saving breakthroughs to happen
									.item
										img(src='/images/img/dna-icon.png')
										h3 £500
										p Helps scientists to unravel the genetics of a cancer cell's DNA
									.item
										img(src='/images/img/person-icon.png')
										h3 £1000
										p Kits out a PHD student with everything they need to discover future treatments
						#six.faq
							.wrap
								h3.red FAQ
								h4 General Information
								.accordion
									dl
										dt
											a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion1', aria-expanded='false', aria-controls='accordion1') What is a Sprintathon?
										dd#accordion1.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
											p
												| The Sprintathon is a local event in Marlow whereby 422 participants, in teams of 4, will each run 100 meters of Marlow running track in order to make history by completing the fastest ever marathon.
										dt
											a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion2', aria-expanded='false', aria-controls='accordion2') Who is taking part in the Sprintathon?
										dd#accordion2.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
											p
												| The runners of the Sprintathon are an eclectic mix of celebrities, sports stars, Olympians and Paralympians, Invictus athletes, cancer survivors and normal men, woman and children, all hoping to break the marathon world record.
										dt
											a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion3', aria-expanded='false', aria-controls='accordion3') Can I attend?
										dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
											p
												| There is very limited space at the venue but you can follow the event on Sprintathon’s social media channels, or follow Josh Pieters and Joe Sugg’s progress via their YouTube channel.
										dt
											a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion4', aria-expanded='false', aria-controls='accordion4') Where does the sponsorship money go?
										dd#accordion4.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
											p
												| Money raised through the Sprintathon helps fund the Stand Up To Cancer’s life-saving work in preventing, controlling and curing cancer. Our vision is to bring forward the day when all cancers are cured, from the most common types to those that affect just a few people. For more information about Stand Up To Cancer, visit https://www.standuptocancer.org.uk.
										dt
											a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion5', aria-expanded='false', aria-controls='accordion5') What is GiftAid?
										dd#accordion5.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
											p
												| If you are a UK taxpayer, the Government’s Gift Aid scheme allows Cancer Research UK to claim tax back on your donations. We can currently claim at least 25% back from the Government on every sponsorship donation, without it costing you a penny extra. Find out more about Gift Aid here - http://www.cancerresearchuk.org/support-us/donate/gift-aid-explained.
				footer#footer
					button.hamburger.hamburger--collapse(type='button')
						span.hamburger-box
							span.hamburger-inner
					.inner.clearfix
						img.logo(src='/images/img/logo.png')
				script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
				script.
					(function(i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r;
					i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date();
					a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
					a.async = 1;
					a.src = g;
					m.parentNode.insertBefore(a, m)
					})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
					ga('create', 'UA-83529035-1', 'auto');
					ga('send', 'pageview');
				script(src='/js/script.js?v=200917')
