extends ../layouts/default

block content
	doctype html
	html(lang='en')
		head
			meta(charset='utf-8')
			title Sprintathon
			meta(name='viewport', content='width=device-width')
			meta(name='description', content='Sprintathon')
			meta(name='author', content='Sprintathon')
			meta(property='og:title', content='Sprintathon')
			meta(property='og:type', content='website')
			meta(property='og:url', content='http://sprintathon.org/')
			meta(property='og:description', content='The Sprintathon Showdown is here. Teams will battle, Lycra will be worn, and the Marathon World Record will fall. Back our team and help beat cancer faster, visit sprintathon.org')
			meta(property='og:image', content='http://sprintathon.org/img/sprintathon-share.png')
			link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800" rel="stylesheet")
			link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
			link(rel="stylesheet" href="/styles/lightslider.min.css")
			link(rel="stylesheet" href="/styles/lightgallery.min.css")
			link(href="/styles/site.css", rel="stylesheet")
			script(src='/js/jquery/jquery-3.3.1.min.js')
			script(src="/js/lightslider.min.js")
			script(src="/js/lightgallery-all.min.js")
			script(src="/js/lg-video.min.js")
			script(src="/js/lg-autoplay.min.js")
			
			//- This file provides the default styling for the KeystoneJS Content Editor
			if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
				//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
				//- Safely remove this block if you are not targeting IE8
				//-[if lt IE 9]
					script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
					script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
				//-[endif]
		body(data-spy='scroll', data-target='.navbar', data-offset='70')
			.container-fluid
				nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.row.px-lg-5
					a.navbar-brand.col-xs-6(href='#')
						<img src="/images/img/logo.png"  alt="sprintathon logo">
					.social-icons.col-xs-3.order-lg-last
						<svg class="twitter-icon" height="30px" width="30px" onclick="window.open('https://twitter.com/share?text=Sprintathon Showdown is here. Records will fall, and cancer will be beaten faster.&url=http://www.sprintathon.org');" >
						<use xlink:href="/fonts/Icons-SVG-sprite.svg#twitter-logo-silhouette"></use>
						</svg>
						<svg class="fb-icon" height="30px" width="30px" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://sprintathon.org/');">
						<use xlink:href="/fonts/Icons-SVG-sprite.svg#facebook-logo"></use>
						</svg>
					button.hamburger.hamburger--emphatic.navbar-toggler.col-xs-3.order-first(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
						span.hamburger-box
							span.hamburger-inner
					#navbarSupportedContent.collapse.navbar-collapse.px-lg-4.justify-content-center
						ul.navbar-nav.text-center
							li.nav-item
								a.nav-link#how-link(href='#how') HOW TO GET INVLOVED 
							li.nav-item
								a.nav-link#beat-link(href='#beat') BEAT CANCER FASTER
							li.nav-item
								a.nav-link#who-link(href='#who') WHO'S IT FOR
							li.nav-item
								a.nav-link#faq-link(href='#faq') FAQ
							li.nav-item
								a.nav-link#donate(a href="https://www.standuptocancer.org.uk/ways-to-donate/#external" data-target="#external") DONATE NOW
			.jumbotron
				h1.slanted 
					span!=page.header.heading
				.row.justify-content-center
						#video1(style='display:none;')
							video.lg-video-object.lg-html5(controls='', preload='none')
								source(src='/images/Sprintathon-Marlo-Launch.mp4', type='video/mp4')
								|          Your browser does not support HTML5 video.
						button.button-primary#html5-videos(type='submit')
								span(data-html='#video1') WATCH OUR VIDEO
				
			.container.my-5.text-center.text-lg-left.px-4
				.row.justify-content-center
					.col-lg-6.pr-lg-5.pl-lg-0
						p.header
							span!=page.ready.heading
					.col-lg-6.pl-lg-5.pr-lg-0
						.row
							.col-4
								p.large.text-center <span class="x-large">#{page.ready.runners}</span><br><span class="red">RUNNERS
							.col-4
									p.large.text-center <span class="x-large">#{page.ready.teams}</span><br><span class="red">TEAMS
							.col-4
									p.large.text-center <span class="x-large">#{page.ready.raised}</span><br><span class="red">RAISED
				.row.justify-content-center
					.col-lg-6.pr-lg-5.pl-lg-0
						p.large #{page.ready.description2}
					
					.col-lg-6.pl-lg-5.pr-lg-0
						p.small #{page.ready.description}
				.row.justify-content-left
					.col-lg-6.pr-lg-5.pl-lg-0
						button.button-secondary(type='submit' onclick="window.open('https://www.standuptocancer.org.uk/ways-to-donate');")
							span DONATE NOW
			.in-action.py-5
				
				p.in-action-header.text-center.header.yellow SPRINTATHON IN ACTION
					ul#autoplay
						
		
										
						li.video-gallery
								a(href=`${page.action.video1}`)
									img.responsive(src='/images/sprint-video-1.png')
									img.play-btn(src="/images/img/play-button.png")

						li.video-gallery
									a(href=`${page.action.video2}`)
										img.responsive(src='/images/sprint-video-2.png')
										img.play-btn(src="/images/img/play-button.png")
									

						li.video-gallery
								a(href=`${page.action.video3}`)
										img.responsive(src='/images/sprint-video-3.png')
										img.play-btn(src="/images/img/play-button.png")

						li.video-gallery
									a(href=`${page.action.video4}`)
										img.responsive(src='/images/sprint-video-4.png')
										img.play-btn(src="/images/img/play-button.png")

						li.video-gallery
									a(href=`${page.action.video5}`)
										img.responsive(src='/images/sprint-video-5.png')
										img.play-btn(src="/images/img/play-button.png")

						li.video-gallery
									a(href=`${page.action.video6}`)
										img.responsive(src='/images/sprint-video-6.png')
										img.play-btn(src="/images/img/play-button.png")

					.lines.start(style='')
						.line
						.line
						.line
						
			.row-full-width.yellow#how
				.container.get-involved.py-5.px-3.text-center.text-md-left
						p.in-action-header.text-center.header.red #{page.involved.header}
							.row
								.col-md-6 
									p.large.red #{page.involved.description1}
									.row
										.col 
											p.large 
												span!=page.involved.date
								.col-md-6 
									p.small
										span!=page.involved.description2
								.col.text-center 
									p.small.last Want to organise your own Sprintathon? <a class="underline" href="#bannerformmodal" data-toggle="modal" data-target="#contact">Contact us</a> for more information.
									
						
									
			.row-full-width.red#beat
				.container.donate.py-5
					.row
						.col-12
							h2.slanted.white!=page.beat.header
						.col-12.text-center
							button.button-primary(type='submit' onclick="window.open('https://www.standuptocancer.org.uk/ways-to-donate');")
								span DONATE NOW 
								
			.container.who.py-5#who
				.row
					.col.text-center
						p.header.red #{page.who.header}
				.row
					.col-md-8.text-center.text-md-left
						p.small #{page.who.description}
					.col-md-4.text-center
						img.stand-up-img.responsive(src=`${page.who.image.secure_url}`)
			.container.where.py-3.mb-5
				.row
					.col.text-center
						p.header.red #{page.where.header}
				.row.text.center
					.col-6.col-lg-3.text-center.pb-5
						.row
							.col-12
								img.where-img(src=`${page.where.image1.secure_url}`)
							.col-12
								p.large #{page.where.amount1}
							.col
								p.small.last.red #{page.where.description1}
					.col-6.col-lg-3.text-center
						.row
							.col-12
								img.where-img(src=`${page.where.image2.secure_url}`)
							.col-12
								p.large #{page.where.amount2}
							.col
								p.small.last.red #{page.where.description2}

					.col-6.col-lg-3.text-center
						.row
							.col-12
								img.where-img(src=`${page.where.image3.secure_url}`)
							.col-12
								p.large #{page.where.amount3}
							.col
								p.small.last.red #{page.where.description3}

					.col-6.col-lg-3.text-center
						.row
							.col-12
								img.where-img(src=`${page.where.image4.secure_url}`)
							.col-12
								p.large #{page.where.amount4}
							.col
								p.small.last.red #{page.where.description4}
		//- .row-full-width.red
		//- 	.container.the-rivals#three
		//- 		.row
		//- 			h2.white The Rivals
		//- 			.leaders
		//- 				.win.col
		//- 					h3#winningtext.text-overlay Winning
		//- 					.thumbnail-wrap
		//- 						img.thumbnail(src='')
		//- 					h3.namelabel
		//- 					h4
		//- 						| Raised so far: £
		//- 						span.team1total 0
		//- 					a.yellow-cta.cta(href='#') Donate Here
		//- 				.vs.col VS
		//- 				.lose.col
		//- 					.thumbnail-wrap
		//- 						h3#losingtext.text-overlay Losing
		//- 						img.thumbnail(src='')
		//- 					h3.namelabel
		//- 					h4
		//- 						| Raised so far: £
		//- 						span.team2total 0
		//- 					a.yellow-cta.cta(href='#') Donate Here
				
				
		.container.stand-up
			.row
				.faq
					.wrap
						h3.red FAQ
						h4 General Information
						.accordion#faq
							dl
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion1', aria-expanded='false', aria-controls='accordion1') #{page.faq.question1}
								dd#accordion1.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
									p #{page.faq.answer1}
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion2', aria-expanded='false', aria-controls='accordion2') #{page.faq.question2}
								dd#accordion2.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
									p #{page.faq.answer2}
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion3', aria-expanded='false', aria-controls='accordion3') #{page.faq.question3}
								dd#accordion3.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
									p #{page.faq.answer3}
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion4', aria-expanded='false', aria-controls='accordion4') #{page.faq.question4}
								dd#accordion4.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
									p #{page.faq.answer4}
								dt
									a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion5', aria-expanded='false', aria-controls='accordion5') #{page.faq.question5}
								dd#accordion5.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
									p #{page.faq.answer5}

			
			
			#contact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerForm', aria-hidden='true')
				.modal-dialog(role='document')
					.modal-content
						.modal-header.bg-info.text-white
							h5#ModalLabel.modal-title Contact Us
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
						.modal-body
							if enquirySubmitted
								h3 Thanks for getting in touch.
							else
								.row: .col.p-3
									form(method='post').form-horizontal
										input(type='hidden', name='action', value='contact')
										.form-group(class=validationErrors.name ? 'has-error' : null)
											label.col-sm-2.text-left.control-label Name
											.col-sm-10
												input(type='text' name='name.full' value=formData['name.full'] required placeholder="First Last").form-control
										.form-group(class=validationErrors.email ? 'has-error' : null)
											label.col-sm-2.control-label Email
											.col-sm-10
												input(type='email' name='email' value=formData.email required placeholder="name@domain.com").form-control
								
									
										.form-group(class=validationErrors.message ? 'has-error' : null)
											label.col-sm-2.control-label Message
											.col-sm-10
												textarea(name='message' placeholder='Leave us a message...' rows=4 required).form-control= formData.message
										.form-group
											.col-sm-10.col-sm-offset-2
												button.button-secondary(type='submit') 
													span  Submit
			
			//- <img src="#{page.image.secure_url}"  alt="sprintathon logo">
		script(src='/js/newscript.js?v=200917')
		
		
		
		

					
	
